# Environment file for galactica @ LIMOS
# Used for creating a Docker Registry Mirror

parameters:
   key_name: vinc-4k
   flavor: 40a1f6b6-1af9-46da-942f-41321a3a45b7
   qserv_image_id: 2f953ce2-f13d-4dc6-b65f-b36ffe3d61d6
   network_name: petasky-net
   subnet_name: petasky-subnet
   public_network: ext-net
   volume_id: 4b933d3d-710b-4e41-aef3-2a55931d624e

# Please update the file cloud-config-dr for ssh-pub-key
