
        Host lsst-fabricejammes-qserv-0
        HostName 172.16.1.99
        User qserv
        Port 22
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
        PasswordAuthentication no
        ProxyCommand ssh -i ~/.ssh/id_rsa_openstack -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@141.142.210.118
        IdentityFile ~/.ssh/id_rsa_openstack
        IdentitiesOnly yes
        LogLevel FATAL
        
        Host lsst-fabricejammes-qserv-1
        HostName 172.16.1.100
        User qserv
        Port 22
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
        PasswordAuthentication no
        ProxyCommand ssh -i ~/.ssh/id_rsa_openstack -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@141.142.210.118
        IdentityFile ~/.ssh/id_rsa_openstack
        IdentitiesOnly yes
        LogLevel FATAL
        
        Host lsst-fabricejammes-qserv-2
        HostName 172.16.1.101
        User qserv
        Port 22
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
        PasswordAuthentication no
        ProxyCommand ssh -i ~/.ssh/id_rsa_openstack -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@141.142.210.118
        IdentityFile ~/.ssh/id_rsa_openstack
        IdentitiesOnly yes
        LogLevel FATAL
        
        Host lsst-fabricejammes-qserv-swarm
        HostName 172.16.1.102
        User qserv
        Port 22
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
        PasswordAuthentication no
        ProxyCommand ssh -i ~/.ssh/id_rsa_openstack -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@141.142.210.118
        IdentityFile ~/.ssh/id_rsa_openstack
        IdentitiesOnly yes
        LogLevel FATAL
        